/* Animasi Fade-In & Fade-Out untuk Transisi Halaman */

/* Atur body menjadi transparan saat loading */
body {
    opacity: 0;
    transition: opacity 0.2s ease-in-out; /* Durasi animasi 0.5 detik */
}

/* Kelas yang akan ditambahkan setelah halaman selesai dimuat */
.page-loaded {
    opacity: 1;
}

/* Kelas untuk fade out saat klik link */
.page-fade-out {
    opacity: 0 !important;
}